<!--
body {
    font: 75% Verdana, Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

#seite {
    width: auto;
    margin: 0 auto;
}

#kopfbereich {
    font:50px Impact, Charcoal, sans-serif;
    background-color: lightslategray;
    margin-bottom: 5%;
}

.rightdiv {
    margin-left: 10%;
}

#form{
   margin:0 auto;
   max-width:60%;
   min-width:20%;
}
.tableRightdiv{
    font-size: 80%;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    min-width: 60%;
}

tr.underline th{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

tr.underline td{
    border-right: 1px solid black;
    border-bottom: 1px solid rgba(38,90,37, 0.5);
    border-spacing:40px;
}


#steuerung {

    float: left;
    width: 20%;
    height: 90%;
}
.navlinks {
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 15%;

}
.naviLabel{
    margin-bottom: 3%;
    margin-top: 7%;
    margin-left: 10%;
    font-weight: bold;
}
.scroll{
    overflow: scroll;
    position: fixed;
    height: 50%;
    width: 100%;
    max-height:50%;
    min-height:20%;

}
.scrollVerwaltenTabelle{
    overflow: scroll;
    height: 90%;
    width: 80%;
    max-height:90%;
    min-height:20%;
}
#login{
    background-color: white;
    border:1px solid black;
    margin:20% auto;
    max-width:40%;
    min-width:20%;

}
#login label{
    font-size: 140%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

h2{
    text-align: center;
}
-->